@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";

html {
  font-size: $base-font-size;
  font-family: $main-font;
  height: 100%;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  color: $black;
}

*,
*::before,
*::after { box-sizing: border-box; }

ul[class],
ol[class] {
  list-style: none;
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd { margin: 0; }

a:not([class]) { text-decoration-skip-ink: auto; }

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select { font: inherit; }

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

audio,
canvas,
iframe,
img,
svg,
video,
textarea { vertical-align: middle; }

textarea { resize: none; }

section { position: relative; }

input,
select,
button { outline: none; }

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content { flex: 1 0 auto; }

.container {
  margin: 0 auto;
  padding:0 15px;
  max-width: $content-size;
  width: 100%;
  box-sizing:border-box;
}

/*flex*/
.box-row,
.box-col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.box-row {
    -webkit-box-orient: horizontal;
    -o-box-orient: horizontal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.box-col {
    -webkit-box-orient: vertical;
    -o-box-orient: vertical;
    -ms-flex-direction: column;
    flex-direction: column;
}

.box-wrap {
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    -o-box-lines: multiple;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.space-between {
    -webkit-box-pack: justify;
    -o-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.space-around {
    -webkit-box-pack: distribute;
    -o-box-pack: distribute;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.space-center {
    -webkit-box-pack: center;
    -o-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.space-end {
    -webkit-box-pack: end;
    -o-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.space-start {
    -webkit-box-pack: start;
    -o-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.align-start {
    -webkit-box-align: start;
    -o-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.align-center {
    -webkit-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.align-end {
    -webkit-box-align: end;
    -o-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}
/*flex end*/

.hide{
  display: none
}
//Модули
@import "modules/modules";
