section.banner
	.container.box-row.space-between
		.banner-menu
			each link in ["Преимущества", "В интерьере", "Каталог", "Покрытие", "Отличия", "Технологии", "Видео", "Акции", "Отзывы", "Контакты"]
				.banner-menu__item
					a(href="").banner-menu__link= link
		.banner-center
			.banner-center__img
				img(src="static/images/content/start_img.jpg")
			.banner__title Межкомнатные двери
				span DARUMI
		.banner-info
			.banner-info__title Двери, с помощью которых создается новый уровень качества вашей жизни
			.banner-info__text
				h3 Межкомнатные двери DARUMI 
				p будут не только основой успешного ведения вашего бизнеса, а доступом к приоритетным ценностям деятельности команды профессионалов. Гарантия партнерства это сервис достойного уровня, получение стабильной прибыли для дилеров и максимальный уют для ваших клиентов –это двери DARUMI
			ul
				li европейские технологии и оборудование;
				li европейские технологии и оборудование;
				li европейские технологии и оборудование;
			.banner-info__btn СТАТЬ ПАРТНЕРОМ