.sandwich {
    cursor: pointer;
    height: 23px;
    position: relative;
    width: 35px;
    &.is {
        &-active {
            .sandwich__line {
                &--top {
                    top: 9px;
                    transform: rotate(45deg);
                }
                &--middle { opacity: 0; }
                &--bottom {
                    top: 9px;
                    transform: rotate(-45deg);
                    width:35px;
                }
            }
        }
    }
    &__line {
        background-color: #C4C4C4;
        display: block;
        height: 5px;
        left: 0;
        position: absolute;
        transition: all linear .4s;
        width: 100%;
        &--top { top: 0; }
        &--middle { top: 9px; }
        &--bottom { top: 18px;width:24px; }
    }
}