.main-nav
	.sandwich.main-nav__sandwich
		.sandwich__line.sandwich__line--top
		.sandwich__line.sandwich__line--middle
		.sandwich__line.sandwich__line--bottom
	ul.main-nav__list.hide
		li.main-nav__item
			a(href="").main-nav__link Преимущества
		li.main-nav__item
			a(href="").main-nav__link В интерьере
		li.main-nav__item
			a(href="").main-nav__link Каталог
		li.main-nav__item
			a(href="").main-nav__link Покрытие
		li.main-nav__item
			a(href="").main-nav__link Отличия
		li.main-nav__item
			a(href="").main-nav__link Технологии
		li.main-nav__item
			a(href="").main-nav__link Видео
		li.main-nav__item
			a(href="").main-nav__link Акции
		li.main-nav__item
			a(href="").main-nav__link Отзывы
		li.main-nav__item
			a(href="").main-nav__link Контакты